<html>
<head>
<style>
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Calibri', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #32a89b;
 
}
  h5 {
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:Black;
  text-align: center; 
  text-decoration: underline
}


</style>
  
</style>
    
<title>Business Registration</title>

</head>
 
<body>
<h5>Registration</h5>
<table id="svf" name="tr">

<table align="center" cellpadding = "10">

<!----- id ---------------------------------------------------------->

<table align="center" cellpadding = "10">

<form method="POST" action="/PresList/new">
<tr>
<td>OwnersName</td>
<td><input id ="on" type="text" name="on" maxlength="30"
  placeholder="Enter your fullname" required="required" />
</td>
</tr>

<tr>
<td>ValidID</td>
<td><input id ="od" type="text" name="od" maxlength="30"
  placeholder="Enter your ID num" required="required" />
</td>
</tr>







<tr>
<td colspan="2" align="center">
<input id="btnConfirm" type="submit" value="confirm">
<input type="reset" value="Reset">
</td>
</tr>
</table>
 {% csrf_token %}
</form>
    {% for item in items %}
    <table id="listTable" name=tr>
         <tr>
    <th>Owners Name</th>
    <th>ID number</th> 
  </tr>
        <tr>
        <td>{{ item.Owner }}</td>
      
          <td>{{ item.fname }}</td>
    
        
        </tr>
         {% endfor %}
    </table>

</body>   
</html>

 
